
body {
  background-color: rgb(231,238,247);
  background-image: url('https://lh4.googleusercontent.com/WVRjvKHK3f49wFp8qwvAgOv49m8IEuChSZr8TUx40nmZ7dPcbLulT-oqQvvYdxY73LQwDg');
  background-repeat: repeat;
  background-position: left top;
}

.ss-form-container, .ss-resp-card {
  background-color: rgb(255,250,235);
  width: 100%;
}

.ss-footer, .ss-response-footer {
  background-color: rgb(255,250,235);
}

.ss-grid-row-odd {
  background-color: rgb(242,237,222);
}

.ss-form-container, .ss-resp-card {
  border-color: rgb(212,212,212);
}

.ss-form-title {
  text-align: center;
}

.ss-form-title[dir="rtl"] {
  text-align: center;
}

.ss-form-desc {
  text-align: left;
}

.ss-form-desc[dir="rtl"] {
  text-align: right;
}

.ss-header-image-container {
  height: 0;
}

.ss-item {
  font-size: 1.250rem;
  padding: 0px 20px;
  margin: 15px 0px;
}

.ss-choices {
  font-size: 1.080rem;
  list-style: none;
  padding-left: 8px;
}

body {
  font-family: "Arial";
  color: rgb(116,116,116);
  font-weight: 400;
  font-size: 1.250rem;
  font-style: normal;
  padding: 20px;
}

.ss-record-username-message {
  font-family: "Arial";
  color: rgb(116,116,116);
  font-weight: 400;
  font-size: 1.250rem;
  font-style: normal;
}

.ss-form-title {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 2.460rem;
  font-style: normal;
}

.ss-confirmation {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 2.460rem;
  font-style: normal;
}

.ss-page-title, .ss-section-title {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 1.845rem;
  font-style: normal;
}

.ss-form-desc, .ss-page-description, .ss-section-description {
  font-family: "Arial";
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1.250rem;
  font-style: normal;
}

.ss-resp-content {
  font-family: "Arial";
  color: rgb(116,116,116);
  font-weight: 400;
  font-size: 1.250rem;
  font-style: normal;
}

.ss-q-title {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
}

.ss-embeddable-object-container .ss-q-title {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 1.845rem;
  font-style: normal;
}

.ss-q-help, .ss-q-time-hint {
  font-family: "Arial";
  color: grey;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}

.ss-choice-label, .video-secondary-text, .ss-gridrow-leftlabel, .ss-gridnumber, .ss-scalenumber, .ss-leftlabel, .ss-rightlabel {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 2.0rem;
  font-style: normal;
  margin-left: 15px;
}

.error-message, .required-message, .ss-required-asterisk {
  font-family: "Arial";
  color: rgb(196,59,29);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-send-email-receipt {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-password-warning {
  font-family: "Arial";
  color: rgb(67,67,67);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: italic;
}

.disclaimer {
  font-family: "Arial";
  color: rgb(67,67,67);
  font-weight: 400;
  font-size: 0.850rem;
  font-style: normal;
}

.ss-footer-content {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

.progress-label {
  font-family: "Arial";
  color: rgb(67,67,67);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

a:link {
  color: rgb(0,0,238);
}

a:visited {
  color: rgb(85,26,139);
}

a:active {
  color: rgb(251,0,0);
}

input[type='text'], input:not([type]), textarea {
  font-size: 1.080rem;
}

.error, .required, .errorbox-bad {
  border-color: rgb(196,59,29);
}

.jfk-progressBar-nonBlocking .progress-bar-thumb {
  background-color: rgb(67,67,67);
}

.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark.png');
  background-size: 108px 21px;
  width: 108px;
  height: 21px;
}

@media screen and (-webkit-device-pixel-ratio: 2) {
.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark_2x.png');
}
}

.titlepage {
    padding: 20px;
    font-size: 2.5em;
}

.customtext {
    height: 45px;
    border-radius: 5px;
    border: 2px solid grey;
    width: 100%;
    font-size: 2em;
}

input[type="text"] {
    font-size: 2em;
    padding: 5px;
}

input[type="radio"] {
    transform: scale(2);
}

.radio input[type=radio], 
.radio-inline input[type=radio] {
    position: relative;
    margin-left: -15px !important;
}

.jfk-button-action,
#ss-submit {
    height: 43px;
    width: 200px;
    font-size: 1.8em;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: darkgreen;
    float: right;
    text-align: center;
    margin-right: 49px;
    background-image: none;
}

.ss-form-container {
    max-width: 1000px !important;
}

.ss-top-of-page {
    padding-top: 0rem !important;
    margin-bottom: -2.5rem !important;
}

.goog-inline-block {
    display: inline !important;
}